<div class="rtBox1">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Position</th>
        <th>Bat/Throw</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Birthday</th>
        <th>Other</th>
      </tr>
    </thead>
    <tbody *ngFor="let player of roster">
      <tr *ngIf="player.position === position"  id="{{player.id}}">
        <td routerLink="/player/{{player.id}}" class="rtPlayerName">{{player.fName}} {{player.lName}}</td>
        <td class="rtNum">{{player.number}}</td>
        <td>{{player.position}}</td>
        <td>{{player.bt}}</td>
        <td>{{player.height}}</td>
        <td>{{player.weight}}</td>
        <td>{{player.dob}}</td>
        <td>{{player.addl}}</td>
      </tr>
    </tbody>
  </table>
</div>
