<div class="pBack">
  <app-top-nav></app-top-nav>
<!--   <div *ngIf="playerData && isPitcher">
    <div class="pNameBox">
      <div class="pPosition">{{player.position}}</div>
      <div class="pPlayerName">{{player.fName}} {{player.lName}}</div>
      <div class="pPlayerNum">#{{player.number}}</div>
    </div>
    <div class="pTable">
      <table>
        <thead>
          <tr>
            <th> </th>
            <th>W</th>
            <th>L</th>
            <th>ERA</th>
            <th>G</th>
            <th>GS</th>
            <th>CG</th>
            <th>SO</th>
            <th>SV</th>
            <th>SVO</th>  
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pBorderRight pRowHeader">Season</td>
            <td>{{pitchingSeason.w}}</td>
            <td>{{pitchingSeason.l}}</td>
            <td class="pBorderRight">{{pitchingSeason.era}}</td>
            <td>{{pitchingSeason.g}}</td>
            <td>{{pitchingSeason.gs}}</td>
            <td>{{pitchingSeason.cg}}</td>
            <td>{{pitchingSeason.so}}</td>
            <td>{{pitchingSeason.sv}}</td>
            <td>{{pitchingSeason.svo}}</td> 
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Postseason</td>
            <td>{{pitchingPost.win}}</td>
            <td>{{pitchingPost.loss}}</td>
            <td class="pBorderRight">{{pitchingPost.era}}</td>
            <td>{{pitchingPost.game}}</td>
            <td>{{pitchingPost.started}}</td>
            <td>{{pitchingPost.complete}}</td>
            <td>{{pitchingPost.shutouts}}</td>
            <td>{{pitchingPost.saves}}</td>
            <td>{{pitchingPost.saveOpp}}</td>
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Career</td>
            <td>{{pitchingCareer.w}}</td>
            <td>{{pitchingCareer.l}}</td>
            <td class="pBorderRight">{{pitchingCareer.era}}</td>
            <td>{{pitchingCareer.g}}</td>
            <td>{{pitchingCareer.gs}}</td>
            <td>{{pitchingCareer.cg}}</td>
            <td>{{pitchingCareer.so}}</td>
            <td>{{pitchingCareer.sv}}</td>
            <td>{{pitchingCareer.svo}}</td> 
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pTable">
      <table>
        <thead>
          <tr>
            <th> </th>
            <th>IP</th>
            <th>H</th>
            <th>R</th>
            <th>ER</th>
            <th>HR</th>
            <th>HB</th>
            <th>BB</th>
            <th>SO</th>
            <th>WHIP</th>
            <th>AVG</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pBorderRight pRowHeader">Season</td>
            <td>{{pitchingSeason.ip}}</td>
            <td>{{pitchingSeason.h}}</td>
            <td>{{pitchingSeason.r}}</td>
            <td>{{pitchingSeason.er}}</td>
            <td>{{pitchingSeason.hr}}</td>
            <td>{{pitchingSeason.hb}}</td>
            <td>{{pitchingSeason.bb}}</td>
            <td class="pBorderRight">{{pitchingSeason.so}}</td>
            <td>{{pitchingSeason.whip}}</td>
            <td>{{pitchingSeason.avg}}</td>
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Postseason</td>
            <td>{{pitchingPost.ip}}</td>
            <td>{{pitchingPost.hits}}</td>
            <td>{{pitchingPost.runs}}</td>
            <td>{{pitchingPost.er}}</td>
            <td>{{pitchingPost.hr}}</td>
            <td>{{pitchingPost.hb}}</td>
            <td>{{pitchingPost.walks}}</td>
            <td class="pBorderRight">{{pitchingPost.strikeouts}}</td>
            <td>{{pitchingPost.whip}}</td>
            <td>{{pitchingPost.avg}}</td>
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Career</td>
            <td>{{pitchingCareer.ip}}</td>
            <td>{{pitchingCareer.h}}</td>
            <td>{{pitchingCareer.r}}</td>
            <td>{{pitchingCareer.er}}</td>
            <td>{{pitchingCareer.hr}}</td>
            <td>{{pitchingCareer.hb}}</td>
            <td>{{pitchingCareer.bb}}</td>
            <td class="pBorderRight">{{pitchingCareer.so}}</td>
            <td>{{pitchingCareer.whip}}</td>
            <td>{{pitchingCareer.avg}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pSlide">Slide Tables To View More</div>
  </div>
  <div *ngIf="playerData && !isPitcher">
    <div class="pNameBox">
      <div class="pPosition">{{player.position}}</div>
      <div class="pPlayerName">{{player.fName}} {{player.lName}}</div>
      <div class="pPlayerNum">#{{player.number}}</div>
    </div>
    <div class="pTable">
      <table>
        <thead>
          <tr>
            <th> </th>
            <th>G</th>
            <th>AB</th>
            <th>R</th>
            <th>H</th>
            <th>2B</th>
            <th>3B</th>
            <th>HR</th>
            <th>RBI</th>  
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pBorderRight pRowHeader">Season</td>
            <td>{{fielderSeason.g}}</td>
            <td class="pBorderRight">{{fielderSeason.ab}}</td>
            <td>{{fielderSeason.r}}</td>
            <td>{{fielderSeason.h}}</td>
            <td>{{fielderSeason.d}}</td>
            <td>{{fielderSeason.t}}</td>
            <td>{{fielderSeason.hr}}</td>
            <td>{{fielderSeason.rbi}}</td>            
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Postseason</td>
            <td>{{fielderPost.games}}</td>
            <td class="pBorderRight">{{fielderPost.atbats}}</td>
            <td>{{fielderPost.runs}}</td>
            <td>{{fielderPost.hits}}</td>
            <td>{{fielderPost.second}}</td>
            <td>{{fielderPost.third}}</td>
            <td>{{fielderPost.hr}}</td>
            <td>{{fielderPost.rbi}}</td>
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Career</td>
            <td>{{fielderCareer.g}}</td>
            <td class="pBorderRight">{{fielderCareer.ab}}</td>
            <td>{{fielderCareer.r}}</td>
            <td>{{fielderCareer.h}}</td>
            <td>{{fielderCareer.d}}</td>
            <td>{{fielderCareer.t}}</td>
            <td>{{fielderCareer.hr}}</td>
            <td>{{fielderCareer.rbi}}</td>            
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pTable">
      <table>
        <thead>
          <tr>
            <th> </th>
            <th>BB</th>
            <th>SO</th>
            <th>SB</th>
            <th>CS</th>
            <th>AVG</th>
            <th>OBP</th>
            <th>SLG</th>
            <th>OPS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pBorderRight pRowHeader">Season</td>
            <td>{{fielderSeason.bb}}</td>
            <td class="pBorderRight">{{fielderSeason.so}}</td>
            <td>{{fielderSeason.sb}}</td>
            <td class="pBorderRight">{{fielderSeason.cs}}</td>
            <td>{{fielderSeason.avg}}</td>
            <td>{{fielderSeason.obp}}</td>
            <td>{{fielderSeason.slg}}</td>
            <td>{{fielderSeason.ops}}</td>
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Postseason</td>
            <td>{{fielderPost.walk}}</td>
            <td class="pBorderRight">{{fielderPost.strikeouts}}</td>
            <td>{{fielderPost.stolen}}</td>
            <td class="pBorderRight">{{fielderPost.caught}}</td>
            <td>{{fielderPost.avg}}</td>
            <td>{{fielderPost.onBase}}</td>
            <td>{{fielderPost.slugging}}</td>
            <td>{{fielderPost.ops}}</td>
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Career</td>
            <td>{{fielderCareer.bb}}</td>
            <td class="pBorderRight">{{fielderCareer.so}}</td>
            <td>{{fielderCareer.so}}</td>
            <td class="pBorderRight">{{fielderCareer.cs}}</td>
            <td>{{fielderCareer.avg}}</td>
            <td>{{fielderCareer.obp}}</td>
            <td>{{fielderCareer.slg}}</td>
            <td>{{fielderCareer.ops}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pSlide">Slide Tables To View More</div>
  </div> -->
  <div *ngIf="playerData && is2Way">
    <div class="pNameBox">
      <div class="pPosition">{{player.position}}</div>
      <div class="pPlayerName">{{player.fName}} {{player.lName}}</div>
      <div class="pPlayerNum">#{{player.number}}</div>
    </div>
    <div class="pTable">
      <table>
        <thead>
          <tr>
            <th>Pitching</th>
            <th>W</th>
            <th>L</th>
            <th>ERA</th>
            <th>G</th>
            <th>GS</th>
            <th>CG</th>
            <th>SO</th>
            <th>SV</th>
            <th>SVO</th>  
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pBorderRight pRowHeader">Season</td>
            <td>{{pitchingSeason.win}}</td>
            <td>{{pitchingSeason.loss}}</td>
            <td class="pBorderRight">{{pitchingSeason.era}}</td>
            <td>{{pitchingSeason.game}}</td>
            <td>{{pitchingSeason.started}}</td>
            <td>{{pitchingSeason.complete}}</td>
            <td>{{pitchingSeason.strikeouts}}</td>
            <td>{{pitchingSeason.saves}}</td>
            <td>{{pitchingSeason.saveOpp}}</td> 
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Postseason</td>
            <td>{{pitchingPost.win}}</td>
            <td>{{pitchingPost.loss}}</td>
            <td class="pBorderRight">{{pitchingPost.era}}</td>
            <td>{{pitchingPost.game}}</td>
            <td>{{pitchingPost.started}}</td>
            <td>{{pitchingPost.complete}}</td>
            <td>{{pitchingPost.shutouts}}</td>
            <td>{{pitchingPost.saves}}</td>
            <td>{{pitchingPost.saveOpp}}</td>
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Career</td>
            <td>{{pitchingCareer.win}}</td>
            <td>{{pitchingCareer.loss}}</td>
            <td class="pBorderRight">{{pitchingCareer.era}}</td>
            <td>{{pitchingCareer.game}}</td>
            <td>{{pitchingCareer.started}}</td>
            <td>{{pitchingCareer.complete}}</td>
            <td>{{pitchingCareer.shutouts}}</td>
            <td>{{pitchingCareer.saves}}</td>
            <td>{{pitchingCareer.saveOpp}}</td> 
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pTable">
      <table>
        <thead>
          <tr>
            <th>Pitching</th>
            <th>IP</th>
            <th>H</th>
            <th>R</th>
            <th>ER</th>
            <th>HR</th>
            <th>HB</th>
            <th>BB</th>
            <th>SO</th>
            <th>WHIP</th>
            <th>AVG</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pBorderRight pRowHeader">Season</td>
            <td>{{pitchingSeason.ip}}</td>
            <td>{{pitchingSeason.hits}}</td>
            <td>{{pitchingSeason.runs}}</td>
            <td>{{pitchingSeason.er}}</td>
            <td>{{pitchingSeason.hr}}</td>
            <td>{{pitchingSeason.hb}}</td>
            <td>{{pitchingSeason.walks}}</td>
            <td class="pBorderRight">{{pitchingSeason.strikeouts}}</td>
            <td>{{pitchingSeason.whip}}</td>
            <td>{{pitchingSeason.avg}}</td>
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Postseason</td>
            <td>{{pitchingPost.ip}}</td>
            <td>{{pitchingPost.hits}}</td>
            <td>{{pitchingPost.runs}}</td>
            <td>{{pitchingPost.er}}</td>
            <td>{{pitchingPost.hr}}</td>
            <td>{{pitchingPost.hb}}</td>
            <td>{{pitchingPost.walks}}</td>
            <td class="pBorderRight">{{pitchingPost.strikeouts}}</td>
            <td>{{pitchingPost.whip}}</td>
            <td>{{pitchingPost.avg}}</td>
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Career</td>
            <td>{{pitchingCareer.ip}}</td>
            <td>{{pitchingCareer.hits}}</td>
            <td>{{pitchingCareer.runs}}</td>
            <td>{{pitchingCareer.er}}</td>
            <td>{{pitchingCareer.hr}}</td>
            <td>{{pitchingCareer.hb}}</td>
            <td>{{pitchingCareer.walks}}</td>
            <td class="pBorderRight">{{pitchingCareer.strikeouts}}</td>
            <td>{{pitchingCareer.whip}}</td>
            <td>{{pitchingCareer.avg}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pTable">
      <table>
        <thead>
          <tr>
            <th>Hitting</th>
            <th>G</th>
            <th>AB</th>
            <th>R</th>
            <th>H</th>
            <th>2B</th>
            <th>3B</th>
            <th>HR</th>
            <th>RBI</th>  
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pBorderRight pRowHeader">Season</td>
            <td>{{fielderSeason.games}}</td>
            <td class="pBorderRight">{{fielderSeason.atbats}}</td>
            <td>{{fielderSeason.runs}}</td>
            <td>{{fielderSeason.hits}}</td>
            <td>{{fielderSeason.second}}</td>
            <td>{{fielderSeason.third}}</td>
            <td>{{fielderSeason.hr}}</td>
            <td>{{fielderSeason.rbi}}</td>            
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Postseason</td>
            <td>{{fielderPost.games}}</td>
            <td class="pBorderRight">{{fielderPost.atbats}}</td>
            <td>{{fielderPost.runs}}</td>
            <td>{{fielderPost.hits}}</td>
            <td>{{fielderPost.second}}</td>
            <td>{{fielderPost.third}}</td>
            <td>{{fielderPost.hr}}</td>
            <td>{{fielderPost.rbi}}</td>
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Career</td>
            <td>{{fielderCareer.games}}</td>
            <td class="pBorderRight">{{fielderCareer.atbats}}</td>
            <td>{{fielderCareer.runs}}</td>
            <td>{{fielderCareer.hits}}</td>
            <td>{{fielderCareer.second}}</td>
            <td>{{fielderCareer.third}}</td>
            <td>{{fielderCareer.hr}}</td>
            <td>{{fielderCareer.rbi}}</td>            
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pTable">
      <table>
        <thead>
          <tr>
            <th>Hitting</th>
            <th>BB</th>
            <th>SO</th>
            <th>SB</th>
            <th>CS</th>
            <th>AVG</th>
            <th>OBP</th>
            <th>SLG</th>
            <th>OPS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pBorderRight pRowHeader">Season</td>
            <td>{{fielderSeason.walk}}</td>
            <td class="pBorderRight">{{fielderSeason.strikeouts}}</td>
            <td>{{fielderSeason.stolen}}</td>
            <td class="pBorderRight">{{fielderSeason.caught}}</td>
            <td>{{fielderSeason.avg}}</td>
            <td>{{fielderSeason.onBase}}</td>
            <td>{{fielderSeason.slugging}}</td>
            <td>{{fielderSeason.ops}}</td>
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Postseason</td>
            <td>{{fielderPost.walk}}</td>
            <td class="pBorderRight">{{fielderPost.strikeouts}}</td>
            <td>{{fielderPost.stolen}}</td>
            <td class="pBorderRight">{{fielderPost.caught}}</td>
            <td>{{fielderPost.avg}}</td>
            <td>{{fielderPost.onBase}}</td>
            <td>{{fielderPost.slugging}}</td>
            <td>{{fielderPost.ops}}</td>
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Career</td>
            <td>{{fielderCareer.walk}}</td>
            <td class="pBorderRight">{{fielderCareer.strikeouts}}</td>
            <td>{{fielderCareer.stolen}}</td>
            <td class="pBorderRight">{{fielderCareer.caught}}</td>
            <td>{{fielderCareer.avg}}</td>
            <td>{{fielderCareer.onBase}}</td>
            <td>{{fielderCareer.slugging}}</td>
            <td>{{fielderCareer.ops}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pSlide">Slide Tables To View More</div>
  </div>
  <div *ngIf="playerData && isPitcher && !is2Way">
    <div class="pNameBox">
      <div class="pPosition">{{player.position}}</div>
      <div class="pPlayerName">{{player.fName}} {{player.lName}}</div>
      <div class="pPlayerNum">#{{player.number}}</div>
    </div>
    <div class="pTable">
      <table>
        <thead>
          <tr>
            <th> </th>
            <th>W</th>
            <th>L</th>
            <th>ERA</th>
            <th>G</th>
            <th>GS</th>
            <th>CG</th>
            <th>SO</th>
            <th>SV</th>
            <th>SVO</th>  
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pBorderRight pRowHeader">Season</td>
            <td>{{pitchingSeason.win}}</td>
            <td>{{pitchingSeason.loss}}</td>
            <td class="pBorderRight">{{pitchingSeason.era}}</td>
            <td>{{pitchingSeason.game}}</td>
            <td>{{pitchingSeason.started}}</td>
            <td>{{pitchingSeason.complete}}</td>
            <td>{{pitchingSeason.strikeouts}}</td>
            <td>{{pitchingSeason.saves}}</td>
            <td>{{pitchingSeason.saveOpp}}</td> 
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Postseason</td>
            <td>{{pitchingPost.win}}</td>
            <td>{{pitchingPost.loss}}</td>
            <td class="pBorderRight">{{pitchingPost.era}}</td>
            <td>{{pitchingPost.game}}</td>
            <td>{{pitchingPost.started}}</td>
            <td>{{pitchingPost.complete}}</td>
            <td>{{pitchingPost.shutouts}}</td>
            <td>{{pitchingPost.saves}}</td>
            <td>{{pitchingPost.saveOpp}}</td>
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Career</td>
            <td>{{pitchingCareer.win}}</td>
            <td>{{pitchingCareer.loss}}</td>
            <td class="pBorderRight">{{pitchingCareer.era}}</td>
            <td>{{pitchingCareer.game}}</td>
            <td>{{pitchingCareer.started}}</td>
            <td>{{pitchingCareer.complete}}</td>
            <td>{{pitchingCareer.shutouts}}</td>
            <td>{{pitchingCareer.saves}}</td>
            <td>{{pitchingCareer.saveOpp}}</td> 
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pTable">
      <table>
        <thead>
          <tr>
            <th> </th>
            <th>IP</th>
            <th>H</th>
            <th>R</th>
            <th>ER</th>
            <th>HR</th>
            <th>HB</th>
            <th>BB</th>
            <th>SO</th>
            <th>WHIP</th>
            <th>AVG</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pBorderRight pRowHeader">Season</td>
            <td>{{pitchingSeason.ip}}</td>
            <td>{{pitchingSeason.hits}}</td>
            <td>{{pitchingSeason.runs}}</td>
            <td>{{pitchingSeason.er}}</td>
            <td>{{pitchingSeason.hr}}</td>
            <td>{{pitchingSeason.hb}}</td>
            <td>{{pitchingSeason.walks}}</td>
            <td class="pBorderRight">{{pitchingSeason.strikeouts}}</td>
            <td>{{pitchingSeason.whip}}</td>
            <td>{{pitchingSeason.avg}}</td>
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Postseason</td>
            <td>{{pitchingPost.ip}}</td>
            <td>{{pitchingPost.hits}}</td>
            <td>{{pitchingPost.runs}}</td>
            <td>{{pitchingPost.er}}</td>
            <td>{{pitchingPost.hr}}</td>
            <td>{{pitchingPost.hb}}</td>
            <td>{{pitchingPost.walks}}</td>
            <td class="pBorderRight">{{pitchingPost.strikeouts}}</td>
            <td>{{pitchingPost.whip}}</td>
            <td>{{pitchingPost.avg}}</td>
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Career</td>
            <td>{{pitchingCareer.ip}}</td>
            <td>{{pitchingCareer.hits}}</td>
            <td>{{pitchingCareer.runs}}</td>
            <td>{{pitchingCareer.er}}</td>
            <td>{{pitchingCareer.hr}}</td>
            <td>{{pitchingCareer.hb}}</td>
            <td>{{pitchingCareer.walks}}</td>
            <td class="pBorderRight">{{pitchingCareer.strikeouts}}</td>
            <td>{{pitchingCareer.whip}}</td>
            <td>{{pitchingCareer.avg}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pSlide">Slide Tables To View More</div>
  </div>
  <div *ngIf="playerData && !isPitcher && !is2Way">
    <div class="pNameBox">
      <div class="pPosition">{{player.position}}</div>
      <div class="pPlayerName">{{player.fName}} {{player.lName}}</div>
      <div class="pPlayerNum">#{{player.number}}</div>
    </div>
    <div class="pTable">
      <table>
        <thead>
          <tr>
            <th> </th>
            <th>G</th>
            <th>AB</th>
            <th>R</th>
            <th>H</th>
            <th>2B</th>
            <th>3B</th>
            <th>HR</th>
            <th>RBI</th>  
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pBorderRight pRowHeader">Season</td>
            <td>{{fielderSeason.games}}</td>
            <td class="pBorderRight">{{fielderSeason.atbats}}</td>
            <td>{{fielderSeason.runs}}</td>
            <td>{{fielderSeason.hits}}</td>
            <td>{{fielderSeason.second}}</td>
            <td>{{fielderSeason.third}}</td>
            <td>{{fielderSeason.hr}}</td>
            <td>{{fielderSeason.rbi}}</td>            
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Postseason</td>
            <td>{{fielderPost.games}}</td>
            <td class="pBorderRight">{{fielderPost.atbats}}</td>
            <td>{{fielderPost.runs}}</td>
            <td>{{fielderPost.hits}}</td>
            <td>{{fielderPost.second}}</td>
            <td>{{fielderPost.third}}</td>
            <td>{{fielderPost.hr}}</td>
            <td>{{fielderPost.rbi}}</td>
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Career</td>
            <td>{{fielderCareer.games}}</td>
            <td class="pBorderRight">{{fielderCareer.atbats}}</td>
            <td>{{fielderCareer.runs}}</td>
            <td>{{fielderCareer.hits}}</td>
            <td>{{fielderCareer.second}}</td>
            <td>{{fielderCareer.third}}</td>
            <td>{{fielderCareer.hr}}</td>
            <td>{{fielderCareer.rbi}}</td>            
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pTable">
      <table>
        <thead>
          <tr>
            <th> </th>
            <th>BB</th>
            <th>SO</th>
            <th>SB</th>
            <th>CS</th>
            <th>AVG</th>
            <th>OBP</th>
            <th>SLG</th>
            <th>OPS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pBorderRight pRowHeader">Season</td>
            <td>{{fielderSeason.walk}}</td>
            <td class="pBorderRight">{{fielderSeason.strikeouts}}</td>
            <td>{{fielderSeason.stolen}}</td>
            <td class="pBorderRight">{{fielderSeason.caught}}</td>
            <td>{{fielderSeason.avg}}</td>
            <td>{{fielderSeason.onBase}}</td>
            <td>{{fielderSeason.slugging}}</td>
            <td>{{fielderSeason.ops}}</td>
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Postseason</td>
            <td>{{fielderPost.walk}}</td>
            <td class="pBorderRight">{{fielderPost.strikeouts}}</td>
            <td>{{fielderPost.stolen}}</td>
            <td class="pBorderRight">{{fielderPost.caught}}</td>
            <td>{{fielderPost.avg}}</td>
            <td>{{fielderPost.onBase}}</td>
            <td>{{fielderPost.slugging}}</td>
            <td>{{fielderPost.ops}}</td>
          </tr>
          <tr>
            <td class="pBorderRight pRowHeader">Career</td>
            <td>{{fielderCareer.walk}}</td>
            <td class="pBorderRight">{{fielderCareer.strikeouts}}</td>
            <td>{{fielderCareer.stolen}}</td>
            <td class="pBorderRight">{{fielderCareer.caught}}</td>
            <td>{{fielderCareer.avg}}</td>
            <td>{{fielderCareer.onBase}}</td>
            <td>{{fielderCareer.slugging}}</td>
            <td>{{fielderCareer.ops}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pSlide">Slide Tables To View More</div>
  </div>
  <div *ngIf="!playerData">
    <div class="pNameBox">
      <div class="pPlayerError">Player Data Not Available</div>
    </div>
  </div>
</div>
