<div class="hsBack">
  <app-top-nav></app-top-nav>
  <div class="hsCont">
    <!-- <div class="hsTrophy"></div> -->
    <div class="hsLogoBox">
      <div class="hsNumsBox">
        <div class="hsNum hsLeftTop">1</div>
        <div class="hsNum hsLeftTop">2</div>
        <div class="hsNum hsLeftTop">4</div>
      </div>
      <div class="hsLA"></div>
      <div class="hsNumsBox">
        <div class="hsNum hsLeftBottom">24</div>
        <div class="hsNum hsLeftBottom">32</div> 
      </div>
    </div>
    
    <div class="hsTextBox">
      <div>
        <div class="hsHeader">Team History</div>
        <div>The Dodgers were created in 1883 in Brooklyn, New York. They were originally the Brooklyn Atlantics. They were also named the Bridegrooms, Grooms, Superbas, Robins, and Trolley Dodgers before officially become the Dodgers in the 1930s. They were named after the Brooklyn pedestrians who dodged streetcars in the city.</div>
        <br />
        <div> They were originally in the American Association before joining the National League in 1890. It relocated to Los Angeles before the 1958 season and have played at Dodger Stadium since 1962. They are part of the Western Division in the National League (NL).</div>
        <br />
        <div>The Dodgers have won the World Series 9 times and are the <span class="red">2025<span class="hsTrophy">2025</span></span> Champions!!! They have also won the NL Pennant 27 times with the most recent being in 2025. They have also won 23 Western Division Titles.</div>
        <br />
        <div>They won their first World Series title in 1955 led by Jackie Robinson and Roy Campanella. Jackie is the first black Major League Baseball Player and Hall of Famer. His number (42) was retired by the Dodgers in 1972.</div>
        <br />
        <div>They've had great Hall of Fame pitchers who have led them to winning the World Series. These pitchers are Sandy Koufax, Don Drysdale, Fernando Valenzuela, and Orel Hershiser. This tradition of great pitching continues to this day.</div>
      </div>
    </div>

    <div class="hsLogoBox">
      <div class="hsNumsBox">
        <div class="hsNum hsRightTop">19</div>
        <div class="hsNum hsRightTop">20</div>
      </div>
      <div class="hsLA"></div>
      <div class="hsNumsBox">
        <div class="hsNum hsRightBottom">39</div>
        <div class="hsNum hsRightBottom">42</div>
        <div class="hsNum hsRightBottom">53</div> 
      </div>
    </div>
  </div>
</div>
